<div class="container">
    <div>HEADER - LOGO</div>
    <div class="row text-center">
        <h4>Welcome back</h4>
        <h2>Login</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam unde mollitia, accusantium itaque facere
            consequatur iste nisi asperiores recusandae magnam expedita enim delectus nam dolore iusto distinctio
            numquam voluptas doloribus.</p>
        <app-input [label]="'login'" [id]="'login'" [type]="'number'"></app-input>
        <app-input [label]="'password'" [id]="'password'" [type]="'password'"></app-input>

        <div class="">
            <app-button [label]="'Login'"></app-button>
        </div>
    </div>

    <div class="row w-75 position-absolute bottom-0">
        <div class="col">
            <h4>Don't have an account?</h4>
            <p>Register hare</p>
        </div>
        <div class="col">
            <app-button [label]="'Create account'"></app-button>
        </div>
    </div>


</div>